workflows/data_foundation/config/*.local.yml
resources/data_releases/
resources/source_data/
resources/**/*.nc
resources/**/*.h5
resources/**/*.h5.gz
resources/**/*.zip
resources/**/*.grib
.snakemake/
.venv/
.env
.env.*
.gitrepo/
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
.ipynb_checkpoints/
